
lab_1/.DS_Store
lab_1/server/.DS_Store
.DS_Store
lab_1/.idea/.name
lab_1/.idea/encodings.xml
lab_1/.idea/lab_1.iml
lab_1/.idea/misc.xml
lab_1/.idea/modules.xml
lab_1/.idea/scopes/scope_settings.xml
lab_1/.idea/vcs.xml
lab_1/.idea/workspace.xml
